# Ignore Python virtual environment
codegeist_env/

# Ignore  system files
*.pyc
 __pycache__/
.DS_Store
desktop.ini

# Ignore auxliar documentation
docs/Codegeist_Resources.md
docs/Enlaces_Forge_Dev_Assistant.md


